    <footer>
        <p>Browse cute pictures of puppies and kittens! &#x1F436&#x1F431</p>
    </footer> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <% if(pageID == "feedback") { %>
        <script src="/js/feedback.js"></script>
    <% } %>
    <% if(pageID == "chat") { %>
        <script src="/js/chat.js"></script>
    <% } %>
</body>
</html>