<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Pets Pictures</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/">Home</a>&emsp;|&emsp;
            <a href="puppies">Puppy Pictures</a>&emsp;|&emsp;
            <a href="kittens">Kitten Pictures</a>
        </div>
        <div class="topHeader">
            <h1><%= type %> Pictures</h1>
        </div>
    </header>
    <div class="content">
        <% if (images.length > 0) { %>
            <% for (i=0; i < images.length; i++) { %>
                <div class="pic-card">
                    <img src="/images/<%= images[i] %>">
                    <h3><%= name[i] %></h3><p><%= description[i] %></p>
                </div>
            <% } %>
        <% } %>
    </div>
    <footer>
        <p>Browse cute pictures of puppies and kittens! &#x1F436&#x1F431</p>
    </footer> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>